.container {
    margin-bottom: 8px;
    max-width: 800px;
}

.commit {
    border: 1px solid #ddd;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    align-items: center;
}

.commit:hover {
    background-color: #f4f4f4;
}

.commit-author {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.commit-message {
    margin-left: 16px;
    flex-grow: 1;
}

.commit-message a {
    text-decoration: none;
    color: #0366d6;
}

.commit-message a:hover {
    text-decoration: underline;
}

.author-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.author-link:hover {
    text-decoration: underline;
}

.author-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}
